<ion-view view-title="Examinee Dashboard">
  <ion-content>
    <ion-list>
	 <div ng-controller="DashCtrl">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/dash/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.fname}} {{chat.lname}}</h2>
       <p>{{chat.dob}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
	  </div>
    </ion-list>
  </ion-content>
</ion-view>
